<!-- modal editar-->

<div class="modal fade" id="modal{{ usuarios.id }}"> 
  <div class="modal-dialog modal-dialog-centered">  <!--<div class="modal-dialog modal-dialog-centered">-->
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Editar usuarios</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <form action="{% url 'updateusuarios' %}" method="post">
          {% csrf_token %}
          
        <div id="miDiv" class="form-inline col-sm-12 mt-3" style="display: none;">
            <label class="control-label col-sm-4" for="id"><h5>id</h5></label>
            <input readonly minlength="4" type="text" class="form-control col-sm-7" name="id" value="{{ usuarios.id }}">
        </div>

        <div class="form-inline col-sm-12 mt-3">
          <label class="control-label col-sm-4" for="UserName"><h5>Usuario</h5></label>
          <input readonly minlength="4" type="text" class="form-control col-sm-7" name="username" value="{{ usuarios.username }}">
        </div>
        <div class="form-inline col-sm-12 mt-3">
          <label class="control-label col-sm-4" for="UserEmail"><h5>Email</h5></label>
          <input id="idemail" minlength="6" type="email" class="form-control col-sm-7" name="userEmail" value="{{ usuarios.email }}" required>
        </div>
  
        <div class="form-inline col-sm-12 mt-3">
          <label class="control-label col-sm-4" for="tipoUsuario"><h5>Tipo usuario</h5></label>
          
          <select name="tipousuario" id="tipoUsuario" value="{{ usuarios.is_superuser }}" class="form-control col-sm-7">
            {% if usuarios.is_superuser == 1 %}
            <option value="1"selected>Administrador</option>
            <option value="0">Cliente</option>
            {% else %}
            <option value="1">Administrador</option>
            <option value="0"selected>Cliente</option>
            {% endif %}
          </select>
        </div>
        
      </div>
  
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btnEditar">Guardar cambios</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>

      </form>

    </div>
  </div>
</div>
<!-- cierre modal editar-->