{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_superuser == 1 %} <!-- valido que el usuario que ingresa a esta ruta sea un administrador tipo= 1-->

<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div class="col">
    {% include 'messages.html' %}
    <h2>Crear Pep</h2>
    {% include 'personasPep/formPep.html' with message='Guardar' %}
</div>

{% else %}  <!-- aqui pongo el final del condicional para saber si el que accede es un administrador-->

{% include 'accesoRestringido.html' %}    <!--  Dentro de este archivo configuro el mensaje a mostar -->

{% endif %}  <!-- aqui pongo el final del condicional para saber si el que accede es un administrador-->

{% endblock %}