{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    {% block css %}
    {% endblock %}

<!-- favicon-->
<link rel="shortcut icon" href="{% static 'img/logoCootep.png' %}">
    
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- fontawesome library -->
<script src="https://kit.fontawesome.com/8c8b2bc594.js" crossorigin="anonymous"></script>

<!-- Codigo para libreria adminLte-->
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/dist/css/adminlte.min.css' %}">
<script src="{% static 'lib/adminlte-3.2.0/dist/js/adminlte.min.js' %}"></script>

<!-- Codigo para libreria adminLte tome los datatables-->
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

</head>
<body>
              {% include 'navbar.html' %}
    <div class="container">

       {#  {% include 'messages.html' %}  #}

        {% block breadcrumb %}
        {% endblock %}

        <div class="">
            <br>
            {% block content %}
            
            {% endblock %}
            
        </div>
    </div> 
</body>

{% block javascript %}
<!-- Codigo para los mensajes con la libreria sweetalert-->
<script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/notificacionSwal.js' %}"></script>
<script src="{% static 'js/mensajeAlert.js' %}"></script>


<!-- Codigo para libreria adminLte-->
<script src="{% static 'lib/adminlte-3.2.0/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'lib/adminlte-3.2.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'lib/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>

<script src="{% static 'lib/adminlte-3.2.0/dist/js/adminlte.min.js?v=3.2.0' %}"></script>


<!-- inicio para el date picker-->
<link rel="stylesheet" href="{% static 'lib/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.css' %}">
<script src="{% static 'lib/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.js' %}"></script>
<!-- Final para el date picker-->

{% endblock %}
</html>